<form [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm()">
  <h3>Recupera Password</h3>

  <div class="input-group" [class.error]="isInvalid('email')">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" placeholder="Inserisci la tua email"/>
    @if (isInvalid('email')) {
      <span class="error-message">{{ getErrorMessage('email') }}</span>
    }
  </div>

  <div class="input-group" [class.error]="isInvalid('new')">
    <label for="new">Nuova Password</label>
    <input type="password" id="new" formControlName="newPassword" placeholder="Inserisci la nuova password"/>
    @if (isInvalid('new')) {
      <span class="error-message">{{ getErrorMessage('new') }}</span>
    }
  </div>

  <div class="input-group" [class.error]="isInvalid('confirm')">
    <label for="confirm">Conferma password</label>
    <input type="password" id="confirm" formControlName="confirm" placeholder="Reinserisci la nuova password"/>
    @if (isInvalid('confirm')) {
      <span class="error-message">{{ getErrorMessage('confirm') }}</span>
    }
  </div>

  <button
    class="primary-button"
    type="submit"
    [disabled]="passwordForm.invalid || loading">
    Aggiorna Password
  </button>

  <div class="row">
    <button class="tertiary-button" type="reset" (click)="resetPasswordForm()">
      Annulla
    </button>
  </div>
</form>

