@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #F2F2F2;
    --background-60: #F2F2F299;

    --text-strong: #1A1A1AE6;
    --text-weak: #1A1A1A99;
    --stroke-strong: #1A1A1A73;
    --stroke-weak: #1A1A1A1A;
    --fill: #1A1A1A0A;

    --brand-strong: #53B250;
    --brand-weak: #53B250CC;
    --brand-stroke-strong: #53B25099;
    --brand-stroke-weak: #53B25033;
    --brand-fill: #53B2501A;

    --error-strong: #E74C3C;
    --error-weak: #E74C3CCC;
    --error-stroke-strong: #E74C3C99;
    --error-stroke-weak: #E74C3C33;
    --error-fill: #E74C3C1A;
}

body {
    background: var(--background);
    color: var(--text-strong);
    font-family: "Lato", sans-serif;
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h1, h2, h3 {
    font-family: "MuseoModerno", sans-serif;
}

h1 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 3.2px;
}

h2 {
    font-size: clamp(1.25rem, 4vw, 2.25rem);
    font-weight: 800;
    line-height: 1.35;
    letter-spacing: 2.4px;
}

h3 {
    font-size: clamp(1.125rem, 3vw, 1.75rem);
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.96px;
}

h4 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 0.72px;
}

p{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.6;
    font-weight: 600;
    color: var(--text-weak);
    letter-spacing: 0.72px;
}

p.small, .tag  {
    font-size: clamp(1rem, 2.2vw, 1.25rem);
    font-weight: 400;
    color: var(--text-strong);
}

p.small.flex {
    display: flex;
    align-items: center;
    gap: 8pt;
}

nav {
    width: 100%;
    padding: 16pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--background-60);
    backdrop-filter: blur(16px);
}

.tag {
    display: flex;
    align-items: center;
    gap: 4pt;
    padding: 8pt 16pt;
    border-radius: 8pt;
    border: 1px solid var(--brand-stroke-weak);
    background: var(--brand-fill);
    color: #158111;
}

.warning {
    border: 1px solid #E4C7231A;
    background: #E4C7231A;
    color: #A18B0F;
    stroke: #A18B0F;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24pt;
    padding: 124pt 16pt;
    width: 100%;
    background: var(--brand-fill);
}

header p {
    max-width: 800pt;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32pt;
    padding: 64pt 16pt;
    width: 100%;
}

section.gradient {
    background: linear-gradient(to bottom, var(--brand-fill), transparent);
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16pt;
    text-align: center;
    width: 100%;
    max-width: 1200pt;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24pt;
    width: 100%;
}

.row.small {
    gap: 16pt;
}

.column > p {
    max-width: 800pt;
}


figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500pt;
    min-width: 300pt;
    border-radius: 16pt;
    background: #FAFAFA;
    overflow: hidden;
}

figcaption {
    padding: 16pt;
    display: flex;
    flex-direction: column;
    gap: 8pt;
}

figure img {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
}

figcaption h4 {
    color: var(--brand-strong);
}

.cards {
    display: flex;
    justify-content: center;
    gap: 8pt;
    width: 100%;
    max-width: 1200pt;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16pt;
    border: 1px solid var(--stroke-weak);
    border-radius: 16pt;
    background: var(--background);
    padding: 16pt;
    width: 100%;
}

.card h3 {
    display: flex;
    align-items: center;
    gap: 8pt;
}

.card h3 svg {
    height: 32pt;
}

.card p {
    padding-left: 40pt;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64pt;
    padding: 32pt 16pt;
    border-top: 1px solid var(--stroke-weak);
    width: calc(100% - 32pt);
    max-width: 1200pt;
}


@media (max-width: 868px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    figure{
        min-width: auto;
    }
}