<form [formGroup]="newsletterForm" (ngSubmit)="submit()">
  <h3>Invia Newsletter</h3>

  <div class="input-group" [class.error]="isInvalid('subject')">
    <label for="subject">Soggetto</label>
    <input name="subject" type="text" placeholder="Soggetto" formControlName="subject">
    @if (isInvalid('subject')) {
      <span class="error-message">{{ getErrorMessage('subject') }}</span>
    }
  </div>

  <div class="input-group">
    <label for="text">Descrizione</label>
    <textarea
      name="text"
      formControlName="text"
      [class.error]="isInvalid('text')"
      placeholder="Inserisci contenuto email">
    </textarea>
    @if (isInvalid('text')) {
      <span class="error-message">{{ getErrorMessage('text') }}</span>
    }
  </div>

  <div class="input-group">
    <label for="img">Foto</label>
    <div class="file-wrapper">
      <input #fileInput id="img" name="img" type="file" accept="image/jpeg,image/png" (change)="onFileSelected($event)">
    </div>
  </div>

  <button
    class="primary-button"
    type="submit"
    [disabled]="newsletterForm.invalid">
    Invia
  </button>

  <button class="tertiary-button" type="reset" (click)="resetForm()">
    Annulla
  </button>
</form>

<section>
  <div class="sub-section">
    <h4>Utenti registrati</h4>
    @if (subscribers.length) {
      <div class="box">
        @for (subscriber of subscribers; track subscriber) {
          <p>{{subscriber}}</p>
        }
      </div>
    } @else {
      <p>Nessun utente registrato alla newsletter.</p>
    }
  </div>
</section>
