:host {
  display: block;
  container-type: inline-size;
  container-name: park-item;
}

section {
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: flex-start;
}

article {
  flex: 1 1 500px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

figure {
  flex: 1 1 0;
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

figure img {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
}

figcaption {
  color: var(--text-weak);
}

.article-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.article-infos {
  display: flex;
  gap: 8px;
}

.article-info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.article-info svg {
  fill: var(--brand-weak);
}

.article-info a:hover {
  color: var(--brand-strong);
}

.background {
  background: var(--fill);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--stroke-weak);
  aspect-ratio: 16/9;
}

@media (max-width: 758px) {
  section {
    flex-direction: column-reverse;
    gap: 8px;
  }

  article{
    flex: none;
    min-width: 100%;
  }

  figure {
    max-width: 100%;
  }

  figure img {
    aspect-ratio: 16/9;
  }
}

@container park-item (max-width: 758px) {
  section {
    flex-direction: column-reverse;
    gap: 8px;
  }

  article {
    flex: none;
    min-width: 100%;
  }

  figure {
    max-width: 100%;
  }

  figure img {
    aspect-ratio: 16/9;
  }
}
