.itinerary {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 32px;
  width: 100%;
  max-width: 1280px;
}

.my-itinerary-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  background: var(--brand-fill);
  border: 1px solid var(--brand-stroke-weak);
}

.my-itinerary-summary a:hover {
  color: var(--brand-strong);
}

.itinerary-grid {
  display: grid;
  grid-template-columns: repeat(2,minmax(0,1fr));
  grid-auto-flow: row dense;
  gap: 8px;
}

.search-wrapper {
  position: relative;
  width: 100%;
}

.search-wrapper svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: var(--stroke-strong);
}

.search-wrapper input {
  width: 100%;
  height: 52px;
  padding: 0 16px 0 48px;
  border-radius: 8px;
  border: 1px solid var(--stroke-strong);
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.control-form-section {
  display: flex;
  gap: 8px;
  width: 100%;
}

.filter-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 52px;
  background: var(--fill);
  border: 1px solid var(--stroke-strong);
  padding: 0 16px;
  border-radius: 8px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  cursor: pointer;
}

.filter-button .led {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: transparent;
}

.filter-button.selected .led {
  background-color: var(--brand-strong);
}

svg{
  transition: .3s ease-in-out;
}

svg.rotated {
  transform: scaleY(-1);
}

.filter-section {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--stroke-weak);
  background: var(--fill);
}

.filter-group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--stroke-weak);
  padding-bottom: 8px;
}

.filter-group h5 {
  margin-left: 8px;
}

.filter-group:last-of-type {
  border-bottom: none;
  padding-bottom: 0;
}

.tags{
  flex-wrap: wrap;
}

.tag{
  background: var(--fill);
  border-color: var(--stroke-strong);
  color: var(--text-strong);
  cursor: pointer;
}

.tag.selected {
  background: var(--brand-fill);
  border-color: var(--brand-stroke-strong);
}

@media (max-width: 768px) {
  .itinerary-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .filter-button {
    height: 38px;
  }

  .search-wrapper input {
    height: 38px;
  }
}

@media (max-width: 568px) {
  .control-form-section{
    flex-direction: column-reverse;
  }

  .filter-button {
    justify-content: space-between;
  }
}
