<section class="share-experience">
  <form [formGroup]="experienceForm" (ngSubmit)="share()">
    <h2>{{ "SHARE_EXPERIENCE" | translate }}</h2>
    <div class="input-group" [class.error]="!selectedFile && experienceForm.touched">
      <label for="img">Foto</label>
      <div class="file-wrapper">
        <input id="img" name="img" type="file" (change)="onFileSelected($event)" required>
      </div>
      @if (!selectedFile && experienceForm.touched) {
        <span class="error-message">Immagine obbligatoria</span>
      }
    </div>

    <div class="input-group" [class.error]="isInvalid('email')">
      <label for="email">Email</label>
      <input name="email" type="email" placeholder="Email" formControlName="email" required>
      @if (isInvalid('email')) {
        <span class="error-message">{{ getErrorMessage('email') }}</span>
      }
    </div>

    <div class="input-group" [class.error]="isInvalid('park')">
      <label for="park">Parco</label>
      <select name="park" formControlName="park" required>
        <option value="" disabled selected>Seleziona un Parco</option>
        @for (park of parks; track park) {
          <option [value]="park.id">{{ park.name }}</option>
        }
      </select>
      @if (isInvalid('park')) {
        <span class="error-message">{{ getErrorMessage('park') }}</span>
      }
    </div>

    <div class="input-group" [class.error]="isInvalid('description')">
      <label for="experience">La tua Esperienza</label>
      <textarea
        name="experience"
        minlength="3"
        maxlength="300"
        placeholder="Condividi la tua esperienza qui..."
        formControlName="description"
        required
      ></textarea>
      @if (isInvalid('description')) {
        <span class="error-message">{{ getErrorMessage('description') }}</span>
      }
    </div>

    <div class="input-group" [class.error]="isInvalid('name')">
      <label for="name">Nome</label>
      <input name="name" type="text" minlength="3" maxlength="20" placeholder="Nome" formControlName="name" required>
      @if (isInvalid('name')) {
        <span class="error-message">{{ getErrorMessage('name') }}</span>
      }
    </div>

    <div class="input-group" [class.error]="isInvalid('surname')">
      <label for="surname">Cognome</label>
      <input name="surname" type="text" minlength="3" maxlength="20" placeholder="Cognome" formControlName="surname" required>
      @if (isInvalid('surname')) {
        <span class="error-message">{{ getErrorMessage('surname') }}</span>
      }
    </div>

    <button
      class="primary-button"
      type="submit"
      [disabled]="experienceForm.invalid || !selectedFile">
      {{ "PUBLISH" | translate }}
    </button>
  </form>

  <figure class="preview">
    @if (selectedFileUrl !== null) {
      <img [src]="selectedFileUrl" alt="Anteprima Immagine">
    } @else {
      <span class="placeholder-image">
        Inserisci un'immagine
      </span>
    }
    <figcaption>
      <div class="location">
        @if (experienceForm.value.park && experienceForm.value.park !== '') {
          <p>{{ experienceForm.value.park }}</p>
        } @else {
          <p>Seleziona il Parco</p>
        }
      </div>
      @if (experienceForm.value.description !== '') {
        <p>{{experienceForm.value.description }}</p>
      } @else {
        <p>Condividi la tua esperienza</p>
      }
      @if (experienceForm.value.name !== '' || experienceForm.value.surname !== '') {
        <h4>{{ experienceForm.value.name }} {{ experienceForm.value.surname }}</h4>
      } @else {
        <p>Inserisci il tuo Nome</p>
      }
    </figcaption>
  </figure>
</section>

<app-footer-component></app-footer-component>
