.share-experience {
  display: flex;
  align-items: start;
  gap: 24px;
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
}

.preview {
  position: sticky;
  top: calc(128px + 16px);
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: var(--fill);
  border: 1px solid var(--stroke-weak);
}

figure img,
figure .placeholder-image {
  width: 100%;
  aspect-ratio: 1 / .8;
}
figure img {
  object-position: center;
  object-fit: cover;
}

figure .placeholder-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--stroke-weak);
}

figure figcaption {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location svg {
  fill: var(--brand-weak);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.primary-button {
  max-width: none;
}

@media (max-width: 768px) {
  .share-experience {
    flex-direction: column;
  }

  .preview {
    position: relative;
    top: 0;
    max-width: 100%;
  }
}
