@if (galleryItemSelected !== null) {
  <section class="overlay" (click)="galleryItemSelected = null">
    <figure class="gallery-item">
      <img [src]="galleryItems[galleryItemSelected].imageUrl" [alt]="galleryItems[galleryItemSelected].description" />
    </figure>
  </section>
}

<section class="gallery">
  @if (galleryItems) {
    @for (galleryItem of galleryItems; track galleryItem.id; let i = $index) {
      <figure class="gallery-item" (click)="galleryItemSelected = i">
        <img [src]="galleryItem.imageUrl" [alt]="galleryItem.description" />
        <figcaption>{{ galleryItem.description }}</figcaption>
      </figure>
    }
  } @else {
    <p>Nessuna immagine trovata.</p> <!-- todo fare placeholder per le sezioni vuote -->
  }
</section>
