@if (galleryItemSelected !== null) {
  <section class="overlay" (click)="galleryItemSelected = null">
    <figure class="gallery-item">
      <img
        [src]="galleryItems[galleryItemSelected].imageUrl"
        [alt]="GlobalHandler.getInstance().isItalian() ? galleryItems[galleryItemSelected].description : galleryItems[galleryItemSelected].englishDescription"
      />
    </figure>
  </section>
}

<section class="gallery">
  @if (galleryItems) {
    @for (galleryItem of galleryItems; track galleryItem.id; let i = $index) {
      <figure class="gallery-item" (click)="galleryItemSelected = i">
        <img [src]="galleryItem.imageUrl" [alt]="GlobalHandler.getInstance().isItalian() ? galleryItem.description : galleryItem.englishDescription" />
        <figcaption>{{ GlobalHandler.getInstance().isItalian() ?  galleryItem.description: galleryItem.englishDescription }}</figcaption>
      </figure>
    }
  } @else {
    <p>Nessuna immagine trovata.</p> <!-- todo fare placeholder per le sezioni vuote -->
  }
</section>
