<form [formGroup]="passwordForm" (ngSubmit)="submitPasswordForm()">
  <h3>Aggiorna la tua Password</h3>

  <div class="input-group" [class.error]="isInvalid('old')">
    <label for="old">Vecchia password</label>
    <input type="password" id="old" formControlName="oldPassword" placeholder="Inserisci la tua vecchia password"/>
    @if (isInvalid('old')) {
      <span class="error-message">{{ getErrorMessage('old') }}</span>
    }
  </div>

  <div class="input-group" [class.error]="isInvalid('new')">
    <label for="new">Nuova Password</label>
    <input type="password" id="new" formControlName="newPassword" placeholder="Inserisci la nuova password"/>
    @if (isInvalid('new')) {
      <span class="error-message">{{ getErrorMessage('new') }}</span>
    }
  </div>

  <div class="input-group" [class.error]="isInvalid('confirm')">
    <label for="confirm">Conferma password</label>
    <input type="password" id="confirm" formControlName="confirm" placeholder="Reinserisci la nuova password"/>
    @if (isInvalid('confirm')) {
      <span class="error-message">{{ getErrorMessage('confirm') }}</span>
    }
  </div>

  <button
    class="primary-button"
    type="submit"
    [disabled]="passwordForm.invalid">
    Aggiorna
  </button>

  <div class="row">
    <button class="tertiary-button" type="reset" (click)="resetPasswordForm()">
      Annulla
    </button>
  </div>
</form>

