form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 100%;
  max-width: 800px;
}

.primary-button {
  max-width: none;
}

.tertiary-button {
  justify-content: center;
  width: 100%;
}
