figure{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-position: center;
  object-fit: cover;
}
