<footer>
  <section class="info">
    <h5>Ente Parco Nazionale della Sila - Riserva della Biosfera MAB Sila</h5>
    <ul>
      <li><span>Via Nazionale 87100 Lorica - San Giovanni in Fiore (CS)</span></li>
      <li><span>Responsabile Unico del Progetto - geom. Mauro Iucle Procellini</span></li>
      <li><span>Direttore - Arch. Ilario Treccosti</span></li>
      <li><span>Presidente - Dott. Francesco Curcio</span></li>
      <li><span>Pec: parcosila&#64;pec.it</span></li>
      <li><span>P.IVA 02583110792</span></li>
    </ul>
  </section>
  <section class="social">
    <h5>Follow Us</h5>
    <ul>
      <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
      <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
    </ul>
  </section>
  <section class="newsletter">
    <h5>Newsletter</h5>
    <form [formGroup]="newsletterForm" (ngSubmit)="subscribeToNewsletter()">
      <div class="input-group" [class.error]="isInvalid('email')">
        <label for="email">Email</label>
        <input name="email" type="email" placeholder="Email" formControlName="email" required>
        @if (isInvalid('email')) {
          <span class="error-message">{{ getErrorMessage('email') }}</span>
        }
      </div>
      <button class="primary-button" type="submit" [disabled]="newsletterForm.invalid">{{ "SUBSCRIBE" | translate}}</button>
    </form>
  </section>
  <section class="copyright-tag">
    <span>&copy; 2025 Parchi Calabria.</span>
    <a href="https://www.aldogioia.com" target="_blank">Developed by Aldo Gioia for IDEA srl.</a>
  </section>
</footer>
