<section class="community">
  <app-article-component [articleDto]="articleDto"></app-article-component>
  <nav>
    <ul>
      @for (park of parks; track park.id; let i = $index) {
        <li (click)="changeSelected(i)" [class.active]="selectedPark == i">{{ park.name }}</li>
      }
    </ul>
  </nav>

  <section class="community-experiences">
    @for (experience of experiences; track experience) {
      <app-experience-card-component [experiencePostDto]="experience"></app-experience-card-component>
    }
  </section>
</section>

<app-footer-component></app-footer-component>
