@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background: #F2F2F2;
  --background-60: #F2F2F299;

  --text-on-black-strong: #F2F2F2;
  --text-on-black-weak: #F2F2F2C7;

  --text-strong: #1A1A1AE6;
  --text-weak: #1A1A1A99;
  --stroke-strong: #1A1A1A73;
  --stroke-weak: #1A1A1A1A;
  --fill: #1A1A1A0A;

  --brand-strong: #53B250;
  --brand-weak: #53B250CC;
  --brand-stroke-strong: #53B25099;
  --brand-stroke-weak: #53B25033;
  --brand-fill: #53B2501A;

  --error-strong: #E74C3C;
  --error-weak: #E74C3CCC;
  --error-stroke-strong: #E74C3C99;
  --error-stroke-weak: #E74C3C33;
  --error-fill: #E74C3C1A;
}

body {
  background: var(--background);
  color: var(--text-strong);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  position: relative;
  width: 100%;
}

.footer{
  display: flex;
  margin-top: 128px;
  width: 100%;
  padding: 16px;
}

h1, h2, h3, h4, h5 {
  font-family: "MuseoModerno", sans-serif;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 2.75rem);
  font-weight: 800;
  line-height: 1.3;
}

h2 {
  font-size: clamp(1.25rem, 4vw, 2.25rem);
  font-weight: 700;
  line-height: 1.35;
}

h3 {
  font-size: clamp(1.125rem, 3vw, 1.75rem);
  font-weight: 600;
  line-height: 1.4;
}

h4 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-weight: 500;
  line-height: 1.45;
}

h5 {
  font-size: clamp(0.95rem, 2vw, 1.3rem);
  font-weight: 400;
  line-height: 1.5;
}

p, a {
  font-size: clamp(1rem, 2.2vw, 1.25rem);
  line-height: 1.6;
  font-weight: 500;
  color: var(--text-weak);
}

button {
  font-size: 1rem;
}

a {
  transition: .3s ease-in-out;
  cursor: alias;
}

span {
  font-size: clamp(0.9rem, 1.8vw, 1.15rem);
  line-height: 1.5;
  color: var(--text-strong);
}

figcaption {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  line-height: 1.4;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  animation: 1s ease-in-out reveal forwards;
}

.margin {
  margin-top: 128px;
}

.split-view {
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  gap: 24px;
  max-width: 1280px;
  padding: 0 16px 16px;
}

.component {
  display: flex;
  align-items: center;
  width: 100%;
}

.to-reveal{
  animation: 1s ease-in-out reveal forwards;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* stili componenti base */

article{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

article p {
  max-width: 80ch;
}



.primary-button {
  background: var(--brand-weak);
  backdrop-filter: blur(8px);
  border: none;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  max-width: 600px;
  color: var(--background);
  fill: var(--background);
}

.primary-button svg {
  fill: var(--background);
  transition: .3s ease-in-out;
  height: 24px;
  width: 24px;
}

.primary-button:hover {
  background-color: var(--brand-strong);
}

.primary-button:active {
  background-color: var(--brand-stroke-strong);
}

.primary-button:focus-visible {
  outline: 2px solid var(--brand-stroke-strong);
  outline-offset: 2px;
}

.primary-button:disabled {
  background: var(--stroke-weak);
  color: var(--text-weak);
  cursor: not-allowed;
}

.primary-button:disabled > svg {
  fill: var(--text-weak);
}

.secondary-button {
  height: 40px;
  width: 40px;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px var(--stroke-weak);
  border-radius: 20px;
  border: 1px solid var(--stroke-weak);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.secondary-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: var(--fill);
  pointer-events: none;
  transition: .3s ease-in-out;
}

.secondary-button.selected::before {
  background: var(--brand-fill);
}

.secondary-button svg {
  transition: .3s ease-in-out;
  fill: var(--text-strong);
  height: 24px;
  width: 24px;
}

.secondary-button:hover > svg {
  fill: var(--brand-strong);
}

.secondary-button.selected {
  border: 1px solid var(--brand-stroke-strong);
}

.secondary-button.selected > svg {
  fill: var(--brand-strong);
}

.secondary-button:disabled {
  cursor: not-allowed;
}

.secondary-button:disabled:hover > svg {
  fill: var(--text-weak);
}

.tertiary-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px;
  cursor: pointer;
  background: none;
  color: var(--brand-weak);
  border: 1px solid var(--brand-stroke-weak);
  border-radius: 8px;
  transition: .3s ease-in-out;
}

.tertiary-button > svg {
  fill: var(--brand-strong);
  height: 24px;
  width: 24px;
}

.tertiary-button:hover {
  border-color: var(--brand-stroke-strong);
  color: var(--brand-strong);
}

.tertiary-button.error {
  color: var(--error-weak);
  border: 1px solid var(--error-stroke-weak);
}

.tertiary-button.error > svg {
  fill: var(--error-strong);
}

.tertiary-button.error:hover {
  border-color: var(--error-stroke-strong);
  color: var(--error-strong);
}

.tertiary-button:disabled {
  cursor: not-allowed;
  filter: grayscale(100%);
}


.tags{
  display: flex;
  gap: 16px;
  padding-top: 8px;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  width: 100%;
}

.tag{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  padding: 4px 8px;
  border-radius: 16px;
  color: var(--text-on-black-strong);
  border: 1px solid var(--stroke-weak);
  backdrop-filter: blur(8px);
  text-transform: capitalize;
}

.tag.dark {
  color: var(--text-strong);
}

/* STILI FORM */
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-group.radio-group {
  flex-direction: row;
}

.input-group label {
  font-size: clamp(.875rem, 2vw, 1rem);
  font-weight: 600;
  color: var(--text-weak);
  margin-left: 4px;
}

.input-group select {
  position: relative;
}

.input-group select svg {
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--text-strong);
}

.input-group.error > input,
.input-group.error > textarea,
.input-group.error > select,
.input-group.error > .file-wrapper,
textarea.error {
  border: 2px solid var(--error-stroke-strong);
  background-color: var(--error-fill);
}

.error-message {
  color: var(--error-strong);
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
}

.little-text {
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
}

.file-wrapper {
  display: flex;
  align-items: center;
  background: var(--fill);
  border: 1px solid var(--stroke-strong);
  border-radius: 8px;
  padding: 8px 8px;
  gap: 12px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  transition: .3s ease-in-out;
}

.file-wrapper:focus-within {
  outline: 2px solid var(--brand-stroke-strong);
  outline-offset: 2px;
}

.file-wrapper input[type="file"] {
  font-size: inherit;
  color: var(--text-weak);
  cursor: pointer;
}

.file-wrapper input[type="file"]::-webkit-file-upload-button {
  background-color: var(--stroke-weak);
  color: var(--text-strong);
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-wrapper input[type="file"]::-webkit-file-upload-button:hover {
  background-color: var(--brand-weak);
}

.file-wrapper input[type="file"]::file-selector-button {
  /* Firefox and others that use spec-compliant selector */
  background-color: var(--stroke-weak);
  color: var(--text-strong);
  border: none;
  padding: 8px 12px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-wrapper input[type="file"]::file-selector-button:hover {
  background-color: var(--brand-weak);
}

input::placeholder, textarea::placeholder {
  color: var(--text-weak);
  font-weight: 400;
}

input[type="search"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  flex: 1;
  background: var(--fill);
  border: 1px solid var(--stroke-strong);
  padding: 16px;
  border-radius: 8px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  transition: .3s ease-in-out;
  color: var(--text-strong);
}

input[type="search"]:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover,
textarea:hover, select:hover {
  border-color: var(--brand-stroke-strong);
}

input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
textarea:focus, select:focus {
  outline: 2px solid var(--brand-stroke-strong);
  outline-offset: 2px;
}

textarea{
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

select {
  cursor: pointer;
}

select.color {
  color: var(--text-weak);
  font-weight: 400;
}

.radio-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--fill);
  border: 1px solid var(--stroke-strong);
  border-radius: 8px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.radio-button.selected {
  border-color: var(--brand-stroke-strong);
  background: var(--brand-fill);
}

.modifying {
  filter: blur(4px) grayscale(1);
  cursor: no-drop;
}

.warning-tag {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #ca702c1a;
  background: #ca702c1a;
  color: #ca702c;
  border-radius: 8px;
  text-decoration: none;
}

.warning-tag.compact {
  width: fit-content;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid #ca702c1a;
  background: #ca702c1a;
  color: #ca702c;
  font-size: 0.875rem;
  font-weight: 500;
}
